<ion-header class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon slot="start" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-item lines="none">
            <h3 (click)="verCategorias()">
                {{categoria | titlecase}} <ion-icon style="margin-bottom: 0;" slot="end" name="chevron-down"></ion-icon>
            </h3>
        </ion-item>
    </ion-toolbar>
    <ion-toolbar class="fondo-content" *ngIf="subCategorias.length > 1">
        <div class="scrolling-wrapper">
            <div class="card" *ngFor="let item of subCategorias">
                <ion-chip mode="ios" [ngClass]="{'sel' : subCategoria === item.subCategoria}" (click)="getNegociosSub(item.subCategoria)">
                    <ion-label color="light" *ngIf="subCategoria === item.subCategoria">{{item.alias | titlecase}}</ion-label>
                    <ion-label  *ngIf="subCategoria !== item.subCategoria">{{item.alias | titlecase}}</ion-label>
                </ion-chip>    
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<!-- Ofertas -->

<ion-content>
    <div *ngIf="promosReady">
        <app-oferta-estrella class="salida" id="ofertas" [style.visibility]="ofertasAnimated ? 'visible': 'hidden'"
            [ofertas]="ofertas" [hayMas]="hayMas" (verNeg)="verProducto($event, 'oferta')" (verOfs)="verOfertas()">
        </app-oferta-estrella>
    </div>

    <!-- + vendidos -->
    <div *ngIf="promosReady && vendidosReady && masVendidos.length > 0">
        <app-producto-estrella class="salida" id="vendidos" [style.visibility]="vendidosAnimated ? 'visible': 'hidden'" 
        [titulo]="'Productos más vendidos'" [masVendidos]="masVendidos" (verProd)="verProducto($event, 'productos')"></app-producto-estrella>
    </div>


        <!-- + consultados -->
    <div *ngIf="promosReady && vendidosReady && masConsultados && masConsultados.length > 0">
        <app-producto-estrella class="salida" id="consultados" [titulo]="'Servicios más consultados'" [masVendidos]="masConsultados" (verProd)="verProducto($event, 'servicios')"></app-producto-estrella>
    </div>

    <!-- Filtros -->
    <div class="categorias fondo-content-div">
        <div class="scrolling-wrapper salida" id="filtros" [style.visibility]="filtrosAnimated ? 'visible': 'hidden'" *ngIf="promosReady && vendidosReady && consultadosReady && hayNegocios">
            <div class="card">
                <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'destacado'}" (click)="setFiltro('destacado')">
                    <ion-label color="light" *ngIf="filtro === 'destacado'">Destacados</ion-label>
                    <ion-label  *ngIf="filtro !== 'destacado'">Destacados</ion-label>
                </ion-chip>
            </div>
            <div class="card">
                <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'serv_domicilio'}" (click)="setFiltro('serv_domicilio')">
                    <ion-label color="light" *ngIf="filtro === 'serv_domicilio'">Servicio a domicilio</ion-label>
                    <ion-label  *ngIf="filtro !== 'serv_domicilio'">Servicio a domicilio</ion-label>
                </ion-chip>   
            </div>
            <div class="card">
                <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'envio_gratis'}" (click)="setFiltro('envio_gratis')">
                    <ion-label color="light" *ngIf="filtro === 'envio_gratis'">Envío gratis</ion-label>
                    <ion-label  *ngIf="filtro !== 'envio_gratis'">Envío gratis</ion-label>
                </ion-chip>     
            </div>
        </div>
    </div>

    <!-- Lista negocios -->
    <div *ngIf="promosReady && negociosReady && vendidosReady && consultadosReady">
        <ng-container *ngIf="negocios.length > 0; else hayNegTemplate">
            <ion-card class="negocios salida" id="productos" [style.visibility]="productosAnimated ? 'visible': 'hidden'">
                <app-negocio class="negocios salida" id="productos" [style.visibility]="productosAnimated ? 'visible': 'hidden'"
                 [negocios]="negocios" [direccion]="direccion" (verNeg)="verNegocio($event)"></app-negocio>
                <div style="height: 1rem;"></div>
            </ion-card>
        </ng-container>
        <ng-template #hayNegTemplate>
            <ion-item lines="none" style="text-align: center;">
                <ion-label color="medium" class="ion-text-wrap">No hay negocios en esta categoría por el momento</ion-label>
            </ion-item>
        </ng-template>
    </div>

    <ion-item lines="none">
        <ion-spinner *ngIf="!promosReady || !negociosReady || !vendidosReady || !consultadosReady" name="bubbles" style="margin: auto"></ion-spinner>
    </ion-item>    
    <ion-item lines="none" style="text-align: center;">
        <ion-label *ngIf="promosReady && negociosReady && vendidosReady && consultadosReady && negocios.length > 0" color="medium">
            No hay más resultados por mostrar
        </ion-label>
    </ion-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<app-no-network></app-no-network>