<ion-header class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon slot="start" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-item lines="none">
            <h3 (click)="verCategorias()">
                {{categoria | titlecase}} <ion-icon style="margin-bottom: 0;" slot="end" name="chevron-down"></ion-icon>
            </h3>
        </ion-item>
    </ion-toolbar>
    <ion-toolbar class="fondo-content" *ngIf="subCategorias.length > 1">
        <div class="scrolling-wrapper">
            <div class="card" *ngFor="let item of subCategorias">
                <ion-chip mode="ios" [ngClass]="{'sel' : subCategoria === item}" (click)="getNegociosSub(item)">
                    <ion-label color="light" *ngIf="subCategoria === item">{{item | titlecase}}</ion-label>
                    <ion-label  *ngIf="subCategoria !== item">{{item | titlecase}}</ion-label>
                </ion-chip>    
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<!-- Ofertas -->

<ion-content>
    <ng-container *ngIf="promosReady; else promoTemplate">
        <ion-grid *ngIf="ofertas.length > 0" class="ion-no-padding">
            <ion-row>
                <ion-col size="8">
                    <h3 style="margin-left: 1rem">Promociones</h3>
                </ion-col>
                <ion-col size="4" *ngIf="hayMas" (click)="verOfertas()" class="ion-align-self-center">
                    <ion-label color="primary" style="font-size: smaller; float: right; ; margin-right: 1.2rem;">Ver todas</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="slideOpts" style="margin-bottom: 1rem;">
            <ion-slide *ngFor="let item of ofertas" (click)="irAOferta(item)" style="padding: 0 0.5rem;">
                <preload-image [ratio]="{w: 1, h: 0.45}" [src]="item.foto" style="border-radius: 15px;"></preload-image>
            </ion-slide>
            <ion-slide *ngIf="hayMas" (click)="verOfertas()" style="padding: 0 0.5rem;">
                <ion-img src="../../../assets/img/botones/verTodas.png"></ion-img>
            </ion-slide>
        </ion-slides>
    </ng-container>
    <ng-template #promoTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-skeleton-text animated class="radius skeleton-oferta"></ion-skeleton-text>
        </ion-list>
    </ng-template>

    <!-- + vendidos -->
    <div *ngIf="promosReady && vendidosReady && masVendidos.length > 0">
        <h3 style="margin-left: 1rem">Productos más vendidos</h3>
        <ion-slides [options]="slideVendidos">
            <ion-slide *ngFor="let item of masVendidos" (click)="irAOferta(item)">
                <ion-card>                    
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12">
                                <preload-image [ratio]="{w: 1, h: 0.75}" [src]="item.url" style="border-radius: 10px;"></preload-image>
                            </ion-col>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label class="ion-text-wrap">
                                        <!-- <h2>{{(item.nombre.length > 15) ? (item.nombre | slice:0:15) + '...' : item.nombre}}</h2> -->
                                        <div class="nombreProducto">
                                            <strong>{{item.nombre}}</strong>
                                        </div>
                                        <div style="height: 0.5rem"></div>
                                        <div class="nombreNegocio">
                                            {{item.nombreNegocio}}
                                        </div>
                                        <div style="height: 0.5rem"></div>
                                        <h2 *ngIf="item.precio" style="color: var(--ion-color-primary)">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>


        <!-- + consultados -->
    <div *ngIf="promosReady && vendidosReady && masConsultados && masConsultados.length > 0">
        <h3 style="margin-left: 1rem">Servicios más consultados</h3>
        <ion-slides [options]="slideVendidos">
            <ion-slide *ngFor="let item of masConsultados" (click)="irAOferta(item)">
                <ion-card>                    
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12">
                                <preload-image [ratio]="{w: 1, h: 0.75}" [src]="item.url" style="border-radius: 10px;"></preload-image>
                            </ion-col>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label class="ion-text-wrap">
                                        <!-- <h2>{{(item.nombre.length > 15) ? (item.nombre | slice:0:15) + '...' : item.nombre}}</h2> -->
                                        <div class="nombreProducto">
                                            <strong>{{item.nombre}}</strong>
                                        </div>
                                        <div style="height: 0.5rem"></div>
                                        <div class="nombreNegocio">
                                            {{item.nombreNegocio}}
                                        </div>
                                        <div style="height: 0.5rem"></div>
                                        <h2 *ngIf="item.precio" style="color: var(--ion-color-primary)">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>

    <!-- Filtros -->
    <div class="scrolling-wrapper"  *ngIf="promosReady && vendidosReady && consultadosReady">
        <div class="card">
            <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'destacado'}" (click)="setFiltro('destacado')">
                <ion-label color="light" *ngIf="filtro === 'destacado'">Destacados</ion-label>
                <ion-label  *ngIf="filtro !== 'destacado'">Destacados</ion-label>
            </ion-chip>
        </div>
        <div class="card">
            <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'serv_domicilio'}" (click)="setFiltro('serv_domicilio')">
                <ion-label color="light" *ngIf="filtro === 'serv_domicilio'">Servicio a domicilio</ion-label>
                <ion-label  *ngIf="filtro !== 'serv_domicilio'">Servicio a domicilio</ion-label>
            </ion-chip>   
        </div>
        <div class="card">
            <ion-chip mode="ios" [ngClass]="{'sel' : filtro === 'envio_gratis'}" (click)="setFiltro('envio_gratis')">
                <ion-label color="light" *ngIf="filtro === 'envio_gratis'">Envío gratis</ion-label>
                <ion-label  *ngIf="filtro !== 'envio_gratis'">Envío gratis</ion-label>
            </ion-chip>     
        </div>
    </div>

    <!-- Lista negocios -->
    <ng-container *ngIf="promosReady && negociosReady && vendidosReady && consultadosReady; else negTemplate">
        <ng-container *ngIf="negocios.length > 0; else hayNegTemplate">
            <ion-card>
                <app-negocio [negocios]="negocios" [direccion]="direccion" (verNeg)="verNegocio($event)"></app-negocio>
                <div style="height: 1rem;"></div>
            </ion-card>
        </ng-container>
        <ng-template #hayNegTemplate>
            <ion-item lines="none" style="text-align: center;">
                <ion-label color="medium" class="ion-text-wrap">No hay negocios en esta categoría por el momento</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>
    <ng-template #negTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<app-no-network></app-no-network>