<ion-content>
    <ion-item lines="none">
        <ion-button (click)="regresar()" color="primary" slot="end" fill="clear">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-item>
    <div class="logo shadow">
        <img [src]="pedido.negocio.logo" />
    </div>
    <div class="tarjeta card-shadow">
        <ion-item style="text-align: center; margin-top: 5vw;" lines="none">
            <ion-label>{{pedido.negocio.nombreNegocio}}</ion-label>
        </ion-item>
        <div style="width: 100%; text-align: center;">
            <app-stars style="margin: auto;" [calificacion]="negocio.puntos" (calficar)="negocio.puntos = $event" [size]="'x-large'"></app-stars>
        </div>
        <ion-item lines="none" style="padding-bottom: 1.5rem">
            <ion-label color="medium" position="floating" style="font-size: small;">Comentarios para la tienda</ion-label>
            <ion-textarea style="border-bottom: solid 1px var(--ion-color-primary);" (keyup.enter)="$event.target.blur();" [(ngModel)]="negocio.comentarios" name="descripcion"></ion-textarea>
        </ion-item>
    </div>
    <div class="logo shadow">
        <img [src]="pedido.repartidor.foto" />
    </div>
    <div class="tarjeta card-shadow">
        <ion-item style="text-align: center; margin-top: 5vw;" lines="none">
            <ion-label>{{pedido.repartidor.nombre}}</ion-label>
        </ion-item>
        <div style="width: 100%; text-align: center;">
            <app-stars style="margin: auto;" [calificacion]="repartidor.puntos" (calficar)="repartidor.puntos = $event" [size]="'x-large'"></app-stars>
        </div>
        <ion-item lines="none" style="padding-bottom: 1.5rem">
            <ion-label color="medium" position="floating" style="font-size: small;">Comentarios para el repartidor</ion-label>
            <ion-textarea style="border-bottom: solid 1px var(--ion-color-primary);" (keyup.enter)="$event.target.blur();" [(ngModel)]="repartidor.comentarios" name="comentarios"></ion-textarea>
        </ion-item>
    </div>
    <ion-button (click)="calificar()" class="boton-margen gradient--" style="margin-top: 1rem;" shape="round">
        Enviar calificación
    </ion-button>
</ion-content>