<ion-content>
    <div *ngIf="servicio.url" style="margin: 0; background: white;">
        <img style="width: 100%;" [src]="servicio.url" alt="">
    </div>
    <div style="position: sticky; top: 0; background: white;" class="shadow">
        <ion-item lines="none" (click)="regresar()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            <ion-label style="font-weight: 700;">{{servicio.nombre | titlecase}}</ion-label>
        </ion-item>
    </div>
    <ion-item lines="none" >
        <ion-label color="medium" style="text-align: left; line-height: 1.5;" class="ion-text-wrap">{{servicio.descripcion}}</ion-label>
    </ion-item>
</ion-content>

<ion-footer *ngIf="servicio" class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-button class="btn_main_activity gradient--" (click)="contactViaWhatsApp()" expand="block" shape="round">
            Contactar 
            <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
        </ion-button>
        <ion-button class="btn_main_activity ion-text-wrap" (click)="verMas()" fill="outline" expand="block" shape="round" *ngIf="!fromServPage">
            Ver más servicios de este negocio
        </ion-button>
    </ion-toolbar>
</ion-footer>