<ion-grid *ngIf="ofertas.length > 0" class="ion-no-padding">
  <ion-row>
      <ion-col size="8">
          <h3 style="margin-left: 1rem">Promociones</h3>
      </ion-col>
      <ion-col size="4" (click)="verOfertas()" class="ion-align-self-center" >
          <ion-label color="primary" style="font-size: smaller; float: right; ; margin-right: 1.2rem;">Ver todas</ion-label>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-slides [options]="slideOpts" *ngIf="ofertas.length > 0" style="margin-bottom: 1.1rem;">
  <ion-slide *ngFor="let item of ofertas" (click)="verNegocio(item)" style="padding: 0 0.5rem;">
      <preload-image [ratio]="{w: 1, h: 0.45}" [src]="item.foto" style="border-radius: 15px;"></preload-image>
  </ion-slide>
  <ion-slide (click)="verOfertas()" *ngIf="hayMas" style="padding: 0 0.5rem;">
      <ion-img style="width: 30%;" src="../../../assets/img/botones/verTodas.png"></ion-img>
  </ion-slide>
</ion-slides>