ion-content {
    --background: white;
}

.btn-change {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.marco {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1rem;
    border: 5px solid var(--ion-color-primary);
    border-radius: 20px;
    overflow: hidden;
}