<ng-container *ngIf="!error; else errorTemplate">
    <ng-container *ngIf="infoReady; else infoTemplate">
        <ion-content>
            <div *ngIf="portada" style="background: white;">
                <div class="portada_box"> 
                    <img style="width: 100%;" [src]="portada" alt="">
                </div>
                <div class="header">
                    <ion-item lines="none">
                        <ion-icon slot="start" color="primary" name="chevron-back" style="font-size: medium;" (click)="regresar()"></ion-icon>
                        <ion-label (click)="regresar()">
                            <h2>{{negocio.nombre}}</h2>
                        </ion-label>
                        <ion-button slot="end" (click)="verInfo()" fill="clear" color="dark">
                            Ver más
                        </ion-button>
                    </ion-item>
                </div>
                <ng-container *ngIf="pasillos.pasillos.length > 1; else segmentTemplate">
                    <div style="background: white; z-index: 150; position: sticky !important; position: -webkit-sticky; top: 2rem">
                        <ion-segment scrollable [value]="pasilloFiltro ? pasilloFiltro : 'todos'">
                            <ion-segment-button (click)="resetProds()" value="todos">
                                Todos
                            </ion-segment-button>
                            <ion-segment-button (click)="resetProds('Ofertas')" *ngIf="hasOfertas" value="ofertas">
                                Ofertas
                            </ion-segment-button>
                            <ion-segment-button (click)="resetProds(item.nombre)" *ngFor="let item of pasillos.pasillos" [value]="item">
                                {{item.nombre}}
                            </ion-segment-button>
                        </ion-segment>
                    </div>
                </ng-container>
                <ng-template #segmentTemplate>
                    <div style="height: 1rem; background: white; z-index: 150; position: sticky !important; top: 2rem"></div>
                </ng-template>
            </div>

            <ng-container *ngIf="cargandoProds; else cargandoTemp">
                <ion-item lines="none">
                    <ion-spinner style="margin: auto;" name="dots" color="primary"></ion-spinner>
                </ion-item>
            </ng-container>
            <ng-template #cargandoTemp>
                <div *ngIf="servicios.length > 0" style="margin-bottom: 135px;">
                    <div [ngSwitch]="vista">
                        <div *ngSwitchCase="'list-img'">
                            <app-list-img [sections]="servicios" (showProduct)="verServicio($event)"></app-list-img>
                        </div>
                        <div *ngSwitchCase="'block'">
                            <app-block [sections]="servicios" (showProduct)="verServicio($event)"></app-block>
                        </div>
                        <div *ngSwitchCase="'cards'">
                            <app-cards [sections]="servicios" (showProduct)="verServicio($event)"></app-cards>
                        </div>
                        <div *ngSwitchCase="'list'">
                            <app-list [sections]="servicios" (showProduct)="verServicio($event)"></app-list>
                        </div>
                        <div *ngSwitchCase="'gallery'">
                            <app-gallery [sections]="servicios" (showProduct)="verServicio($event)"></app-gallery>
                        </div>
                        <div *ngSwitchDefault>
                            <app-list-img [sections]="servicios" (showProduct)="verServicio($event)"></app-list-img>
                        </div>
                    </div>
                </div>
                <ion-item lines="none" style="text-align: center;">
                    <ion-label color="medium">No hay más resultados</ion-label>
                </ion-item>
            </ng-template>


            <ng-container *ngIf="pasilloFiltro; else elseTemplate">
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataListaFiltrada($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLista($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-template>
        </ion-content>

        <app-no-network></app-no-network>

        <ion-footer class="ion-no-border">
            <ion-toolbar class="fondo-content" style="text-align:center; border-top: var(--ion-color-primary) 2px solid;">
                <ng-container *ngIf="negocio.abierto; else footTemplate">
                    <ion-grid fixed class="ion-no-padding">
                        <ion-row>
                            <ion-col size="4">
                                <ion-button shape="round" (click)="llamar()" class="gradient--">
                                    <ion-icon slot="icon-only" name="call"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="4">
                                <ion-button shape="round" (click)="contactViaWhatsApp()" class="gradient--">
                                    <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="4">
                                <ion-button shape="round" (click)="verInfo()" class="gradient--">
                                    <ion-icon slot="icon-only" name="location"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
                <ng-template #footTemplate>
                    <ion-button class="boton-margen" expand="block" color="danger" fill="clear">
                        Negocio cerrado
                    </ion-button>
                    <ion-button class="boton-margen" expand="block" color="danger" (click)="verInfo()" shape="round">
                        Ver horario
                    </ion-button>
                </ng-template>
            </ion-toolbar>
        </ion-footer>
    </ng-container>
    <ng-template #infoTemplate>
        <ion-spinner class="spinner" name="dots"></ion-spinner>
    </ng-template>
</ng-container>
<ng-template #errorTemplate>
    <ion-content>
    </ion-content>
    <ion-footer>
        <ion-item class="boton-margen" lines="none" style="text-align: center; margin-top: 3rem;">
            <ion-label>
                <h2 class="ion-text-wrap">Lo sentimos, surgió un problema al cargar la información de este negocio.</h2>
            </ion-label>
        </ion-item>
        <ion-button class="boton-margen" (click)="reintentar()" expand="block" shape="round">
            Intenar de nuevo
        </ion-button>
        <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
            Regresar
        </ion-button>
    </ion-footer>
</ng-template>