<ion-content class="fondo">
    <div class="boton-margen">
    </div>
    <ion-img src="../../../assets/img/backgrounds/inicio.jpg" style="margin-top: 1.5rem;"></ion-img>
    <h1>Dirección de <br> entrega:</h1>
    <ion-item lines="none" style="text-align: center;">
        <ion-label color="medium" class="ion-text-wrap">
            Registra una dirección de entrega para mostrar los mejores negocios cercanos a tu zona.
        </ion-label>
    </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="mostrarDirecciones()" shape="round" class="boton-margen gradient--">
            Ingresar dirección
        </ion-button>
    </ion-toolbar>
</ion-footer>