<ion-content class="fondo">
    <div class="boton-margen">
    </div>
    <ion-img src="../../../assets/img/backgrounds/inicio.jpg" style="margin-top: 1.5rem;"></ion-img>
    <h1>¿Dónde entregaremos tus<br>pedidos?</h1>
    <ion-item lines="none" style="text-align: center;">
        <ion-label color="medium" class="ion-text-wrap">
            Algunos de los negocios publicados tienen servicio a domicilio con costo extra. Para poder calcular el costo real, dános una dirección de entrega.
            O bien, usa la ubicación de tu dispositivo. 
        </ion-label>
    </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="mostrarDirecciones()" shape="round" class="gradient-- btn_main_activity">
            Ingresar dirección
        </ion-button>
    </ion-toolbar>    
</ion-footer>