ion-content {
    --overflow: hidden;
}

.margen {
    width: 90vw;
    margin-left: 5vw;
}

.cuadro-ayuda {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    border-radius: 40px 40px 0 0;
    visibility: hidden;
    z-index: 100;
}

ion-thumbnail {
    max-width: 1.5rem;
}

#card-error {
    color: red;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}