<ion-header class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-weight: 700;">Tarjeta de crédito/débito</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="margin-top: 2rem; padding: 1rem;">
        <form id="payment-form" #forma="ngForm" (ngSubmit)="agregarTarjeta()">
            <ion-card>
                <ion-item lines="none">
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input (keyup.enter)="$event.target.blur()"  [(ngModel)]="nombre" type="text" placeholder="Juan Perez García" required name="nombre"></ion-input>
                </ion-item>                
            </ion-card>
            <ion-card style="padding: 1rem;">
                <div id="card"><!--Stripe.js injects the Card Element--></div>
            </ion-card>
            <p id="card-error" role="alert"></p>
            <ion-button type="submit" id="button" expand="block" class="gradient--" [disabled]="loading || cardInvalid || !forma.valid || !secret || !cardReady" shape="round" style="margin-top: 2rem; font-weight: 700;">
                Guardar tarjeta
                <ion-spinner slot="end" *ngIf="loading" name="dots"></ion-spinner>
            </ion-button>
        </form>

        <!-- <form #forma="ngForm" (ngSubmit)="agregarTarjeta()" class="boton-margen" style="margin-top: 2rem;">
            <ion-item>
                <ion-label position="floating">Número de tarjeta</ion-label>
                <ion-input [(ngModel)]="tarjeta.numero" placeholder="0000 0000 0000 0000" required name="email" type="tel" maxlength="19" minlength="18" tabindex="1" (keyup.enter)="moveFocus(b)" (keyup.space)="spaceKey('numero')" (ionChange)="numeroCambio()" (keydown.backspace)="borraNum()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Vigencia</ion-label>
                <ion-input [(ngModel)]="tarjeta.expiracion" placeholder="MM/AA" required name="vigencia" type="tel" maxlength="5" minlength="5" tabindex="2" #b (keyup.enter)="moveFocus(c)" (keyup.space)="spaceKey('expiracion')" (ionChange)="vigenciaCambio()" (keydown.backspace)="borraVigencia()"></ion-input>
                <ion-icon name="help-circle-outline" slot="end" size="small" (click)="ayuda('Vigencia', 'La fecha de vencimiento se ubica en la parte frontal de su tarjeta, debajo del número de tarjeta', 'fecha')"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Código de seguridad</ion-label>
                <ion-input [(ngModel)]="tarjeta.cvv" placeholder="CVC" required name="cvv" type="tel" maxlength="4" minlength="3" tabindex="3" #c (keyup.enter)="moveFocus(d)"></ion-input>
                <ion-icon name="help-circle-outline" slot="end" size="small" (click)="ayuda('Código de seguridad', 'El código de seguridad son los 3-4 dígitos que están en la parte posterior de tu tarjeta en la banda de firma', 'cvc')"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombre del titular</ion-label>
                <ion-input [(ngModel)]="tarjeta.nombre" placeholder="Juan Perez" required name="nombre" type="text" tabindex="4" #d (keyup.enter)="$event.target.blur();"></ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="!forma.valid || loading" expand="block" shape="round" class="margen-boton gradient--" style="margin: 1.5rem 0;">
                <ng-container *ngIf="loading; else loadingTemp">
                    <ion-spinner name="dots" color="light"></ion-spinner>
                </ng-container>
                <ng-template #loadingTemp>
                    <ion-icon name="lock-closed" style="margin-right: 0.5rem;"></ion-icon>
                    Agregar tarjeta
                </ng-template>
            </ion-button>
            <ion-item lines="none" style="text-align: center;">
                <ion-label color="medium" style="font-size: x-small;" class="ion-text-wrap">Por seguridad, preautorizaremos un cargo menor a MXN$10.00 en tu tarjeta.</ion-label>
            </ion-item>
        </form> -->
    </ion-card>
    <div class="cuadro-ayuda shadow-large" id="ayuda">
        <div>
            <h2 style="text-align: center; font-weight: 700; color: black;">{{titulo}}</h2>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="8">
                        <p style="color: var(--ion-color-medium); text-align: left;" class="boton-margen">{{mensaje}}</p>
                    </ion-col>
                    <ion-col size="4">
                        <ion-img [src]="imagen"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-button (click)="quitaAyuda()" expand="block" shape="round" class="boton-margen gradient--" style="margin-bottom: 1rem;">
            Entendido
        </ion-button>
    </div>
    

</ion-content>