.portada_box {
    width: 100vw;
    height: 33vw;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    overflow: hidden;
}

.logo_box {
    width: 80%;
    height: 18vw;
    border-radius: 500px;
    background: white;
    position: absolute;
    margin-top: -13vw;
    margin-left: 10%;
    z-index: 15;
    text-align: center;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18pt;
    background: #fb04044d;
    border-radius: 100%;
}

$spinner-size: 45px;
$spinner-color: #e0a331;
.spinner {
    position: absolute;
    top: calc(50% - #{ ($spinner-size/2) });
    left: calc(50% - #{ ($spinner-size/2) });
    width: $spinner-size;
    height: $spinner-size;
    font-size: $spinner-size;
    line-height: $spinner-size;
    color: $spinner-color;
}

h2 {
    font-family: 'Comfortaa';
}