.portada_box {
    width: 100vw;
    height: 33vw;
    border-bottom-left-radius:25%;
    border-bottom-right-radius:25%;
    overflow: hidden;
}

.header {
    background: white;
    width: 100%;
    height: 2rem;
    position: sticky;
    top: 0;
    z-index: 200;
}

.logo_box {
    width: 80%;
    height: auto;
    max-height: 20vw;
    border-radius: 500px;
    background: white;
    position: absolute;
    margin-top: -13vw;
    margin-left: 10%;
    z-index: 15;
    text-align: center;
}

$spinner-size: 45px;
$spinner-color: #e0a331;
.spinner {
    position: absolute;
    top: calc(50% - #{ ($spinner-size/2) });
    left: calc(50% - #{ ($spinner-size/2) });
    width: $spinner-size;
    height: $spinner-size;
    font-size: $spinner-size;
    line-height: $spinner-size;
    color: $spinner-color;
}

h2 {
    font-family: 'Comfortaa';
}