<ion-content>
    <div class="profile gradient">
        <ng-container *ngIf="uid; else menuTemplate">
            <ion-item lines="none">
                <ion-menu-button slot="end" color="light"></ion-menu-button>
            </ion-item>
            <h1 style="color: white; margin-left: 1rem; margin-top: 0; font-weight: 700;"><strong>¿Qué producto o servicio buscas?</strong></h1>
        </ng-container>
        <ng-template #menuTemplate>
            <ion-buttons slot="end" style="right: 1rem; position: absolute;">
                <ion-button (click)="login()" color="light" fill="outline" shape="round">
                    Iniciar sesión
                    <ion-icon slot="start" name="log-in"></ion-icon>
                </ion-button>
            </ion-buttons>            
            <h1 style="color: white; margin-left: 1rem; margin-top: 3.5rem; font-weight: 700;">¿Qué producto o servicio buscas?</h1>   
        </ng-template>
    </div>
    <div class="cuadro-opciones">
        <ion-item style="text-align: center;">
            <ion-input #inputSearch [disabled]="!catsReady" (ionFocus)="onBusqueda()" (keyup.enter)="buscar($event)" [(ngModel)]="busqueda" type="text" placeholder="Hamburguesa, blusa, celulares, limpieza dental, etc"></ion-input>
            <ng-container *ngIf="buscando; else buscandoTemplate">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </ng-container>
            <ng-template #buscandoTemplate>
                <ion-icon slot="end" name="search" color="primary" (click)="buscar()"></ion-icon>
            </ng-template>
        </ion-item>
    </div>

    <!-- Busqueda -->

    <ion-grid *ngIf="negMatch.length > 0" class="ion-no-padding">
        <div id="tituloBusqueda">
            <ion-row>
                <ion-col size="8">
                    <h3 style="margin-left: 1rem" class="ion-text-wrap">Resultados búsqueda</h3>
                </ion-col>
                <ion-col size="4" (click)="resetBusqueda()" class="ion-align-self-center">
                    <ion-label color="primary" style="font-size: smaller; float: right; margin-right: 0.5rem;">Limpiar</ion-label>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <ion-card *ngIf="negMatch.length > 0" id="cardBusqueda">
        <app-negocio [negocios]="negMatch" [direccion]="direccion" (verNeg)="verProducto($event)"></app-negocio>
    </ion-card>


    <!-- Pedidos -->
    <ion-grid *ngIf="pedidosReady && pedidos.length > 0" class="ion-no-padding">
        <ion-row>
            <ion-col size="8">
                <h3 style="margin-left: 1rem" class="ion-text-wrap">Pedidos en curso</h3>
            </ion-col>
            <ion-col size="4" (click)="verPedidos = true" class="ion-align-self-center" *ngIf="pedidos.length > 2 && !verPedidos">
                <ion-label color="primary" style="font-size: smaller; float: right; ; margin-right: 1.2rem;">Ver todos</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngIf="pedidosReady && pedidos.length > 0">
        <ng-container *ngIf="!verPedidos; else pedidosTemplate">
            <ion-item *ngIf="pedidos.length > 0" (click)="verPedido(pedidos[0])" detail style="--detail-icon-color: var(--ion-color-primary)" lines="none">
                <ion-thumbnail style="max-width: 2rem;">
                    <img [src]="pedidos[0].negocio.logo" />
                </ion-thumbnail>
                <ion-label color="medium">{{pedidos[0].negocio.nombreNegocio}}</ion-label>
                <ion-badge color="primary" *ngIf="pedidos[0].unRead > 0">{{pedidos[0].unRead}}</ion-badge>
                <ion-badge color="danger" *ngIf="pedidos[0].cancelado_by_negocio">Cancelado</ion-badge>
            </ion-item>
            <ion-item *ngIf="pedidos.length > 1" (click)="verPedido(pedidos[1])" detail style="--detail-icon-color: var(--ion-color-primary)" lines="none">
                <ion-thumbnail style="max-width: 2rem;">
                    <img [src]="pedidos[1].negocio.logo" />
                </ion-thumbnail>
                <ion-label color="medium">{{pedidos[1].negocio.nombreNegocio}}</ion-label>
                <ion-badge color="primary" *ngIf="pedidos[1].unRead > 0">{{pedidos[1].unRead}}</ion-badge>
                <ion-badge color="danger" *ngIf="pedidos[1].cancelado_by_negocio">Cancelado</ion-badge>
            </ion-item>
        </ng-container>
        <ng-template #pedidosTemplate>
            <ion-item *ngFor="let item of pedidos" detail (click)="verPedido(item)" style="--detail-icon-color: var(--ion-color-primary)" lines="none">
                <ion-thumbnail style="max-width: 2rem;">
                    <img [src]="item.negocio.logo" />
                </ion-thumbnail>
                <ion-label color="medium">{{item.negocio.nombreNegocio}}</ion-label>
                <ion-badge color="primary" *ngIf="item.unRead > 0">{{item.unRead}}</ion-badge>
                <ion-badge color="danger" *ngIf="item.cancelado_by_negocio">Cancelado</ion-badge>
            </ion-item>
            <ion-item (click)="verPedidos = false" lines="none">
                <ion-label color="medium" slot="end">Ver menos
                    <ion-icon style="margin-left: 0.5rem;" name="chevron-up"></ion-icon>
                </ion-label>
            </ion-item>
        </ng-template>
    </ion-card>

    <!-- Categorias -->
    <ng-container *ngIf="catsReady && pedidosReady; else catsTemplate">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="8">
                    <h3 style="margin-left: 1rem" class="ion-text-wrap">Categorías</h3>
                </ion-col>
                <ion-col size="4" (click)="verCategorias()" class="ion-align-self-center">
                    <ion-label color="primary" style="font-size: smaller; float: right; ; margin-right: 1.2rem;">Ver todas</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="categorias fondo-content-div">
            <ion-slides [options]="slideCategorias" *ngIf="categorias.length > 0">
                <ion-slide *ngFor="let item of categorias" (click)="irACategoria(item.categoria)" style="padding: 0.5rem;">
                    <ion-grid fixed class="ion-no-padding">
                        <ion-row class="ion-no-padding"> 
                            <ion-col size="12">
                                <div class="ovalo">
                                    <preload-image [ratio]="{w: 1, h: 0.8125}" [src]="item.foto"></preload-image>
                                </div>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label class="cat_color">{{item.categoria | titlecase}}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>
        </div>
    </ng-container>
    <ng-template #catsTemplate>
        <ion-list style="margin-top: 1rem;">
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of [1,2,3]">
                        <ion-skeleton-text animated style="width: 100%; height: 7rem" class="radius"></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ng-template>

    <!-- Ofertas -->
    <ng-container *ngIf="pedidosReady && catsReady && promosReady; else promoTemplate">
        <app-oferta-estrella [hayMas]="hayMas" [ofertas]="ofertas" (verOfs)="verOfertas()" (verNeg)="irAOferta($event)"></app-oferta-estrella>
    </ng-container>
    <ng-template #promoTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-skeleton-text animated class="radius skeleton-oferta"></ion-skeleton-text>
        </ion-list>
    </ng-template>


    <!-- + vendidos -->
    <div *ngIf="pedidosReady && catsReady && promosReady && vendidosReady && masVendidos.length > 0">
        <app-producto-estrella [titulo]="'Productos más vendidos'" [masVendidos]="masVendidos" (verProd)="irAOferta($event)"></app-producto-estrella>
    </div>


        <!-- + consultados -->
    <div *ngIf="pedidosReady && catsReady && promosReady && vendidosReady && masConsultados && masConsultados.length > 0">
        <app-producto-estrella [titulo]="'Servicios más consultados'" [masVendidos]="masConsultados" (verProd)="irAOferta($event)"></app-producto-estrella>
    </div>


    <!-- + visitados por ti -->
    <ng-container *ngIf="pedidosReady && catsReady && promosReady && vendidosReady && visitadosReady && masConsultados; else visTemplate">
        <ion-card *ngIf="negociosVisitados.length > 0">
            <ion-item-divider>
                <h3 style="color: black;">Tus favoritos</h3>
            </ion-item-divider>
            <app-negocio [negocios]="negociosVisitados" [direccion]="direccion" (verNeg)="verProductoConInfo($event)"></app-negocio>
            <div style="height: 1rem;"></div>
        </ion-card>
    </ng-container>
    <ng-template #visTemplate>
        <ion-list>
            <ion-list-header>
                <ion-skeleton-text animated class="radius skeleton-titulo"></ion-skeleton-text>
            </ion-list-header>
            <ion-item *ngFor="let item of [1,2,3,4,5]" lines="none">
                <ion-skeleton-text animated class="radius skeleton-item"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </ng-template>


    <!-- + Populares -->
    <div *ngIf="pedidosReady && catsReady && promosReady && vendidosReady && visitadosReady && popularesReady && masConsultados">
        <ion-card style="margin-top: 0.75rem;">
            <ion-item-divider>
                <h3 style="color: black;" *ngIf="negociosPopulares.length > 0">Los más populares</h3>
            </ion-item-divider>
            <app-negocio [negocios]="negociosPopulares" [direccion]="direccion" (verNeg)="verProductoConInfo($event)"></app-negocio>
            <div style="height: 1rem;"></div>
        </ion-card>
    </div>

</ion-content>

<app-no-network></app-no-network>