ion-content {
    --background: white;
}

.btn-face {
    margin-top: 2rem;
    margin-bottom: 1rem;
    --background: #3b5998;
}

.input-usuario {
    border: solid 1px #d8d7d7;
    border-radius: 15px;
    margin-bottom: 1rem;
    --background: #fff7f1;
}

.input-registra {
    --background: #fff7f1;
}

.back-icon {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ff9238;
    font-size: 18pt;
    position: absolute;
}

.botones {
    text-align: center;
    width: 80%;
    margin: auto;
}

.mr-5 {
    margin-right: 5px;
}

.titulo {
    color: var(--ion-color-primary);
}