.ovalo {
    width: 60%;
    background: white;
    border-radius: 500px;
    padding: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: auto;
}

.cat_color {
    color: #a0a0a0ff;
    font-size: xx-small;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
}