h2, h3 {
    font-weight: 700;
}

.nombreProducto {
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // height:2.2rem /* fallback */;
    // overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: small;
 }

 .nombreNegocio {
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // line-height: 1rem;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // height:2rem /* fallback */
    max-width: 100%;
    font-size: small;
    color: var(--ion-color-medium);
 }

 .price-box {
    width: 75%;
    height: 1.5rem;
    margin-left: 25%;
    border-radius: 10px 0 0 0;
    margin-top: -1.5rem;
    z-index: 20;
    position: absolute;
    color: white;
    background: var(--ion-color-primary);
    font-weight: 700;
    box-shadow: -2px -3px 2px #faba9a;
}

