<h3 style="margin-left: 1rem">{{titulo}}</h3>
<ion-slides [options]="slideVendidos">
    <ion-slide *ngFor="let item of masVendidos" (click)="verProducto(item)">
        <ion-card>                    
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12">
                        <preload-image [ratio]="{w: 1, h: 0.75}" [src]="item.url" style="border-radius: 10px;"></preload-image>
                        <div class="price-box" *ngIf="item.descuento">
                            {{item.descuento}}%
                        </div>                        
                        <div class="price-box" *ngIf="item.dosxuno">
                            2x1
                        </div>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item lines="none">
                            <ion-label class="ion-text-wrap">
                                <!-- <h2>{{(item.nombre.length > 15) ? (item.nombre | slice:0:15) + '...' : item.nombre}}</h2> -->
                                <div class="nombreProducto">
                                    <strong>{{item.nombre}}</strong>
                                </div>
                                <div style="height: 0.5rem"></div>
                                <div class="nombreNegocio">
                                    {{item.nombreNegocio}}
                                </div>
                                <div style="height: 0.5rem"></div>
                                <h2 *ngIf="item.precio" style="color: var(--ion-color-primary)">{{item.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-slide>
</ion-slides>